<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="http://localhost:3000/employees">Employee Dashboard</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li><%= link_to '<span class="glyphicon glyphicon-log-out"></span> Logout'.html_safe, destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Sign Up'.html_safe, new_user_registration_path %></li>
      <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, new_user_session_path %></li>
    <% end %>
  </ul>
</div>
</nav>

<% flash.each do |key, value| %>
 <div style="width: 60%; margin-left: auto; margin-right: auto;" class="alert alert-<%= key %>"><%= value %></div>
<% end %>
