<% if user_signed_in? %>
  <% @accounts.each do |account| %>
    <b>Account name:</b> <%= account.account_name %><br>
    <b>Account address:</b> <%= account.account_address%><br><br>
  <% end %>
  <%= link_to 'Create Account', new_account_path, class: "btn btn-primary btn-sm" %><br><br>
  <%= link_to 'View Opportunities', opportunities_path, class: "btn btn-success btn-sm" %>
<% else %>
  <div style="width: 75%; margin-right: auto; margin-left: auto;">
    <h4 style="width: 50%; margin-right: auto; margin-left: auto;">Welcome to the Opportunity Management</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h4>Please <%= link_to 'Login', new_user_session_path %> to view Accounts and Opportunites.</h4>
  </div>
<% end %>
